@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

$Blue: #1F165B;
$Red: #D91E1E;
$Yellow: #F2E205;

$font: "Quicksand", sans-serif;

.Form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: $Blue;
    align-items: center;

    h2 {
        color: white;
        font-family: $font;
        text-align: center;
        padding-top: 2%;
    }

    .FormCurso {
        justify-self: center;
        align-self: center;
    }
}